---

hostc:
  crontabs:
    - name: "hourly koko"
      user: pi
      minute: "0"
      hour: "6-21"
      job: "aplay {{ mm_root }}/sounds/mixkit-short-rooster-crowing-2470.wav"
    - name: "half hourly koko"
      user: pi
      minute: "30"
      hour: "6-9"
      job: "aplay {{ mm_root }}/sounds/mixkit-classic-clock-gong-1066.wav"
    - name: "Night Volume Mode"
      user: pi
      minute: "0"
      hour: "21"
      job: 'sudo amixer cset numid=$(sudo amixer controls | grep "Headphone Playback Volume" | cut -d= -f2 | cut -d, -f1) 80%'
    - name: "Day Volume Mode"
      user: pi
      minute: "29"
      hour: "8"
      job: 'sudo amixer cset numid=$(sudo amixer controls | grep "Headphone Playback Volume" | cut -d= -f2 | cut -d, -f1) 100%'