# in older RPI OS , there used to be a program called omxplayer to play mp3 and wav files
# it is not there anymore, and some of my modules used it, so I had to replace it with a shellscript
omx_patch: False

calendar_1_url: "{{vault_calendar_1_url}}"
calendar_2_url: "{{vault_calendar_2_url}}"
openweathermap: "{{vault_openweathermap}}"
telegram: "{{vault_telegram}}"
location: "{{vault_location}}"

magicmirror_living:
  "{{vault_magicmirror_living}}"
ansible_user: "{{vault_magicmirror_living.ansible_user}}"
ansible_password: "{{vault_magicmirror_living.ansible_password}}"